[Desktop Entry]
Name=AGIME
Exec=/usr/lib/agime/AGIME %U
Icon=/usr/share/pixmaps/agime.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/agime;