[Desktop Entry]
Name=AGIME
Exec=/usr/lib/AGIME/AGIME %U
Icon=/usr/share/pixmaps/AGIME.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/agime;